@import "variables.scss";

@import "./mixin/breakpoint.scss";
@import "./grid.scss";

body {
    color: $font-color;
    font-size: $fs-base;
    font-family: $font-family-base;
}

a {
    color: $link-color;
    text-decoration: none;
}

h1 {
    text-align: center;
}

.card {
    margin-bottom: 30px;
    position: relative;
    display: flex;
    border-radius: $border-radius;
    box-shadow: 1px 2px 5px #ddd;

    &__front {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__img {
        background-repeat: no-repeat;
        background-size: cover;
        flex-grow: 1;
        min-height: 240px;
        border-radius: $border-radius $border-radius 0 0;
    }

    &__foot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    &__back {
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    &:hover {

        .card__back,
        .close {
            visibility: visible;
            opacity: 1;
        }

        .card__front {
            opacity: .1;
        }
    }

}


.payments {
    margin-bottom: 1rem;
    display: flex;

    label {
        display: flex;
        align-items: center;
        padding: 0 .4rem;
        cursor: pointer;
    }

    input {
        margin-top: 0;
    }
}

.message {
    color: red;
    margin: 1em 0;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.btn {
    cursor: pointer;
    padding: .4rem 1rem;
    border-radius: $border-radius;
    font-weight: 600;
}

.btn-default {
    border: 1px solid $link-color;
    background-color: #fff;
    color: $link-color;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 1rem;
    line-height: 1;
    color: $font-color;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}